@font-face {
    font-family: 'Roboto Slab';
    src: url(../fonts/Roboto_Slab/static/RobotoSlab-Black.ttf);
}
@font-face {
    font-family: 'Merriweather';
    src: url(../fonts/Merriweather/Merriweather-Black.ttf);
}
@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat/static/Montserrat-Black.ttf);
}