body {
    font-family: Arial, sans-serif;
    background-color: #4F86D9;
    text-align: center;
}

caption {
    font-size: 200%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #345A8E;
    margin-bottom: 20px;
}

.tmin{
    color: red;
}

.tmax{
    font-weight: bold;
    color: blue;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
    border: 2px solid white;
}

th {
    background-color: #95B6E9;
    color: white;
    padding: 10px;
    border: 1px solid #345A8E;
}

td {
    padding: 10px;
    border: 1px solid #4F86D9;
    background-color: #ffffff;
}

img {
    width: 30px;
    height: 30px;
}